[forecast]
woeid=<your local woeid>

[twitter]
consumer-key=<your twitter consumer key>
consumer-secret=<your twitter consumer secret>
query-string=from:Adafruit

[printer]
device-name=/dev/ttyAMA0
baudrate=19200
# set your printer firmware version as int (v2.68 = 268)
# to obtain FW version hold the printer button when powering it on
fw-version=269
# Defaults from Adafruit
#heat-time=60
#heat-dots=20
#heat-interval=250
# Works better for v2.68 printer
heat-time=80
heat-dots=7
heat-interval=2

